<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>content.webhost.iu.edu</MSDeployServiceURL>
    <DeployIisAppPath>ermrrs.webhost.iu.edu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ADS\ermrrs</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IUERM_RSchedEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=iu-uits-whdd1;Initial Catalog=IUERM_RSched;Integrated Security=True" Name="Data Source=iu-uits-whdd1;Initial Catalog=IUERM_RSched ;Integrated Security=SSPI;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IUERM_RRS.IUERM_RSchedEntities, IUERM-RRS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IUERM_Connection" Order="2" Enabled="False">
          <Destination Path="Data Source=iu-uits-whdd1;Initial Catalog=IUERM_RSched;Integrated Security=True" Name="Data Source=iu-uits-whdd1;Initial Catalog=IUERM_RSched ;Integrated Security=SSPI;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IUERM_RRS.Models.ApplicationDbContext, IUERM-RRS" MigrationConfiguration="IUERM_RRS.Migrations.Configuration, IUERM-RRS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IUERM_Connection-Web.config Connection String">
      <ParameterValue>Data Source=iu-uits-whdd1;Initial Catalog=IUERM_RSched ;Integrated Security=SSPI;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IUERM_RSchedEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/IUERM_RSchedEntities.csdl|res://*/IUERM_RSchedEntities.ssdl|res://*/IUERM_RSchedEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=iu-uits-whdd1;Initial Catalog=IUERM_RSched ;Integrated Security=SSPI;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>