
<div style="width: 80%; margin: 100px auto 100px; min-height:600px;">
    <h3 class="section-title capitalize">RECORDS RETENTION SCHEDULE</h3>


    @Html.ActionLink("Add Record", "Create", "Schedule", routeValues: null, htmlAttributes: new { @class = "button" })
    <br/>

    @(Html.Kendo().Grid<ScheduleViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Command(command => { command.Edit().Text(" ").CancelText(" ").UpdateText(" "); command.Destroy().Text(" "); })
                .Width(160).Title("Edit / Remove").Locked(true).Lockable(false);
            columns.Bound(c => c.SCH_StewardDomain).Width(200)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RetentionArea).Width(200)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RetentionSubArea).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_AreaScope).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RetentionAreaDescription).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Type).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Office).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Coordinator).Width(200)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RecordSeries).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RecordSeriesCode).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Description).Width(150)
                .HtmlAttributes(new { @style = "text-align:left;max-width: 450px" });
            columns.Bound(c => c.SCH_Retention).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_EventCode).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Years).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_IsVital).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_GoverningStatute).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_GoverningRegulation).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_GoverningPolicy).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Reason).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RecordMedium).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_Retainer).Width(300)
                .HtmlAttributes(new { @style = "text-align:left" }).Sortable(false).Filterable(false);
            columns.Bound(c => c.SCH_Disposition).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_RequiresDestruction).Width(150)
                .HtmlAttributes(new { @style = "text-align:left" });
            columns.Bound(c => c.SCH_CreationDate2).Width(250)
                .HtmlAttributes(new { @style = "text-align:left" }); })
        .ToolBar(toolbar =>
        {
            toolbar.Excel();
            toolbar.Pdf();
        })
        .Pageable()
        .Navigatable()
        .Sortable(sortable => {sortable.SortMode(GridSortMode.SingleColumn);})
        .Filterable()
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.SCH_ID))
            .Read(read => read.Action("Schedules_Read", "Home"))
            .Create(create => create.Action("Schedules_Create", "Schedule"))
            .Update(update => update.Action("Schedules_Update", "Schedule"))
            .Destroy(destroy => destroy.Action("Schedules_Destroy", "Schedule"))
        )
        .Events(e => { e.BeforeEdit("BeforeEdit"); e.DataBound("onDataBound"); e.Remove("OnRemove"); })
        .HtmlAttributes(new { @style = "height: 600px;" })
    )

</div>
<script type="text/javascript">
    function BeforeEdit(e) {
        e.preventDefault();
        var modelId = e.model.SCH_ID;
        window.location.href = "/Schedule/Edit/?Id=" + modelId;
    }

    function onDataBound() {
        var grid = $("#grid").data("kendoGrid");
        for (var i = 0; i < grid.columns.length; i++) {
            grid.autoFitColumn(i);
        }
    }

    function OnRemove(e) {
        e.preventDefault();
        var id = e.model.SCH_ID;
        $.post("@Url.Action("Schedules_Destroy2", "Schedule")", { id: id }, function (data) {
             setTimeout(function () { $("#grid").data("kendoGrid").dataSource.read(); }, 3000);
        });
    }
</script>


