
<div style="width: 80%; margin: 100px auto 100px; min-height:600px;">
    <h3 class="section-title capitalize">RECORDS RETENTION SCHEDULE</h3>


    @Html.ActionLink("Add Record", "Create", "Schedule", routeValues: null, htmlAttributes: new { @class = "button" })
    <br/>

    @(Html.Kendo().Grid<ScheduleViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Command(command => { command.Edit().Text(" ").CancelText(" ").UpdateText(" "); command.Destroy().Text(" "); })
                .Width(80).Title("Edit/Remove").Locked(true).Lockable(false).HeaderHtmlAttributes(new { @class = "grid-header" });
            columns.Bound(c => c.SCH_StewardDomain).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RetentionArea).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RetentionSubArea).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_AreaScope).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RetentionAreaDescription).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Type).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Office).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Coordinator).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RecordSeries).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RecordSeriesCode).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Description).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Retention).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_EventCode).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Years).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_IsVital).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_GoverningStatute)
                .ClientTemplate("#=SCH_GoverningStatute#").Width(200)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_GoverningRegulation)
                .ClientTemplate("#=SCH_GoverningRegulation#").Width(200)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_GoverningPolicy)
                .ClientTemplate("#=SCH_GoverningPolicy#").Width(200)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Reason).Width(200)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RecordMedium).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_Retainer).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" })
                .Sortable(false).Filterable(false);
            columns.Bound(c => c.SCH_Disposition).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_RequiresDestruction).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" });
            columns.Bound(c => c.SCH_CreationDate2).Width(150)
                .HeaderHtmlAttributes(new { @class = "grid-header" }).HtmlAttributes(new { @class = "grid-column" }); })
        .ToolBar(toolbar =>
        {
            toolbar.Excel();
            toolbar.Pdf();
        })
        .Pageable()
        .Navigatable()
        .Sortable(sortable => {sortable.SortMode(GridSortMode.SingleColumn);})
        .Filterable()
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.SCH_ID))
            .Read(read => read.Action("Schedules_Read", "Home"))
            .Create(create => create.Action("Schedules_Create", "Schedule"))
            .Update(update => update.Action("Schedules_Update", "Schedule"))
            .Destroy(destroy => destroy.Action("Schedules_Destroy", "Schedule"))
        )
        .Events(e => { e.BeforeEdit("BeforeEdit"); e.Remove("OnRemove"); })
        .HtmlAttributes(new { @style = "height: 600px;" })
    )

</div>
<script type="text/javascript">
    function BeforeEdit(e) {
        e.preventDefault();
        var modelId = e.model.SCH_ID;
        window.location.href = "/Schedule/Edit/?Id=" + modelId;
    }

    function OnRemove(e) {
        e.preventDefault();
        var id = e.model.SCH_ID;
        $.post("@Url.Action("Schedules_Destroy2", "Schedule")", { id: id }, function (data) {
             setTimeout(function () { $("#grid").data("kendoGrid").dataSource.read(); }, 3000);
        });
    }
</script>


