<div style="width: 100%; margin: 0 auto;">

    <div class="modal-header">
        <h3 class="section-title capitalize">Event Code</h3>
    </div>

    <script>
        function OnRequestEnd(e) {
            if (e.type == "update" || e.type == "create" || e.type == "remove") {
                $("#grid").data("kendoGrid").dataSource.read();
            }
        }
    </script>

    <hr />
    <div>
        @(Html.Kendo().Grid<IUERM_RRS.ViewModels.EventCodeViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(o => o.Code).HtmlAttributes(new { @style = "vertical-align: top;" });
                    columns.Bound(o => o.Description).HtmlAttributes(new { @style = "vertical-align: top;" });
                    columns.Command(command => { command.Edit().Text(" ").CancelText(" ").UpdateText(" "); command.Destroy().Text(" "); }).Width(100);
                })
                .Scrollable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(true)
                    .Model(model => model.Id(o => o.Code))
                    .Read(read => read.Action("ReadEventCodes", "Main"))
                    .Destroy(destroy => destroy.Action("DestroyEventCode", "Main"))
                    .Update(update => update.Action("UpdateEventCode", "Main"))
                    .Create(create => create.Action("CreateEventCode", "Main"))
                    .Events(e => e.RequestEnd("OnRequestEnd"))
                    )
                .Sortable()
                .Filterable()
                .ToolBar(toolbar => { toolbar.Create().Text("Add"); toolbar.Excel().Text("Export"); })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .NoRecords("No Records.")
                .Excel(excel => excel.FileName("EventCodes.xlsx").Filterable(true).AllPages(true))
        )
    </div>
    <br/>
</div>
    

