<div style="width: 50%; margin: 0 auto;">
    <div id="retentionContainer" onload="switchContainers()">
        
    </div>
    
    <br/>
    <button id="btnRetention" class="button" partial="_Retention" onclick="switchContainers()" >Event Codes</button>
    <br/>
    <hr/>
</div>
<script>
    switchContainers();
    function switchContainers()
    {
        var attr = $("#btnRetention").attr("partial");
        var url = "/Schedule/GetPartial/?partial=" + attr;
        $.get(url, function (data) {
            $("#retentionContainer").html(data);
            if (attr == "_EventCode") {
                $("#btnRetention").html("Retention");
                $("#btnRetention").attr("partial", "_Retention");
            }
            else {
                $("#btnRetention").html("Event Codes");
                $("#btnRetention").attr("partial", "_EventCode");
            }
        });
    }
    
</script>
    
