<div style="width: 80%; margin: 0 auto;">

    <div class="modal-header">
        @*<button type="button"  class="button" data-dismiss="modal" aria-hidden="true">×</button>*@
        <h3 class="section-title capitalize">Retentions</h3>
    </div>


    <hr />
    <div>
        @(Html.Kendo().Grid<IUERM_RRS.ViewModels.RetentionViewModel>()
                .Name("RetentionGrid")
                .Columns(columns =>
                {
                    columns.Bound(o => o.Id).HtmlAttributes(new { @style = "vertical-align: top;" }).Visible(false);
                    columns.Bound(o => o.BasedOnCode).HtmlAttributes(new { @style = "vertical-align: top;" });
                    columns.Bound(o => o.BaseOnDescription).HtmlAttributes(new { @style = "vertical-align: top;" });
                    columns.Bound(o => o.EventCode).HtmlAttributes(new { @style = "vertical-align: top;" });
                    columns.Bound(o => o.Period).HtmlAttributes(new { @style = "vertical-align: top;" });
                    columns.Command(command => { command.Edit().Text(" ").CancelText(" ").UpdateText(" "); command.Destroy().Text(" "); }).Width(100);
                })
                .Scrollable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(true)
                    .Model(model => model.Id(o => o.Id))
                    .Read(read => read.Action("ReadRetentions", "Main"))
                    .Destroy(destroy => destroy.Action("DestroyRetention", "Main"))
                    .Update(update => update.Action("UpdateRetention", "Main"))
                    .Create(create => create.Action("CreateRetention", "Main"))
                    .Events(events => events.RequestEnd(
                        @<text> function(e){if (e.type == "update" || e.type == "create" || e.type == "remove") {
                            $("#RetentionGrid").data("kendoGrid").dataSource.read();
                            }}
                        </text>
                                    )))
                    //.Pageable(pageable => pageable.ButtonCount(5).PageSizes(new[] { 5, 10, 25, 50, 100 }))
                    .Sortable()
                    .Filterable()
                    .ToolBar(toolbar => { toolbar.Create().Text("Add"); toolbar.Excel().Text("Export"); })
                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .NoRecords("No Records.")
                    .Excel(excel => excel
                        .FileName("Retentions.xlsx")
                        .Filterable(true)
                        .AllPages(true))
        )
    </div>
    <br/>
    @Html.ActionLink("Go Back", "Create", "Schedule", routeValues: null, htmlAttributes: new { @class = "button"})
</div>
    
